body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    margin: 20px;
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

#contact {
    background-color: #f5f5f5;
    padding: 20px;
}